.navbar-nav li .nav-a {
  font-family: "Roboto", sans-serif;
}
.logo {
  margin-left: 15px;
  max-width: 175px;
}
.navbar-nav {
  margin-right: 10px;
}
.navbar-nav li .nav-a {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
}
.navbar-nav li .nav-a:hover {
  color: #000;
}
.nav-inscreva {
  margin-left: 10px;
}
@media (max-width: 980px) {
  .nav-inscreva {
    margin-left: 0;
  }
}

.section-1 {
  margin-top: 60px;
}
.iconeHeight {
  height: 100px;
}
