.navbar-nav li .nav-a {
  font-family: "Roboto", sans-serif;
}
.logo {
  margin-left: 15px;
  max-width: 175px;
}
.navbar-nav {
  margin-right: 10px;
}
.navbar-nav li .nav-a {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
}
.navbar-nav li .nav-a:hover {
  color: #000;
}
.nav-inscreva {
  margin-left: 10px;
}
@media (max-width: 980px) {
  .nav-inscreva {
    margin-left: 0;
  }
}

.section-1 {
  margin-top: 60px;
}
.iconeHeight {
  height: 100px;
}
.home-quote {
  background: url(../img/img-quote1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  margin-bottom: 50px;
}
.home-p {
  max-width: 830px;
}

@media (max-width: 900px) {
  .fixed-top {
    position: relative !important;
  }
  .section-1 {
    margin-top: 0;
  }
  .home-quote blockquote {
    align-self: end;
    padding-right: 10px;
  }
  .home-p {
    font-size: 18px !important;
    max-width: 278px;
  }
}
