* {
  font-family: "Roboto", sans-serif;
}
.logo {
  margin-left: 15px;
  max-width: 175px;
}
.navbar-nav {
  margin-right: 10px;
}
.navbar-nav li .nav-a {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
}
.navbar-nav li .nav-a:hover {
  color: #000;
}
